<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true">
	<property name="CHARSET" value="UTF-8" />
	<property name="PATTERN"
		value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n" />
	<property name="PATTERN-FORLOG" value=" %msg%n" />
	<appender name="STDOUT"
		class="ch.qos.logback.core.ConsoleAppender">
		<!-- encoder默認配置為PartternLayoutEncoder -->
		<encoder
			class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>${PATTERN}</pattern>
			<charset>${CHARSET}</charset>
		</encoder>
	</appender>

	<!-- 
    <logger name="com.mkyong" level="debug" additivity="false">
		<appender-ref ref="STDOUT" />
    </logger>
	-->
	<root level="OFF" additivity="false">
		<appender-ref ref="STDOUT" />
	</root>

</configuration>